<div class="pageheader">
  <h2><i class="fa fa-home"></i> 控制面板</h2>
</div>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 mb30">
          <h5 class="subtitle subtitle-lined mb5">最近10天注册用户</h5>
          <div id="ten-days-users-flot" style="width: 100%; height: 300px"></div>
        </div>
        <div class="col-md-6 mb30">
          <h5 class="subtitle subtitle-lined mb5">全部位用户</h5>
          <div id="users-flot" style="width: 100%; height: 300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>