<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>练球宝</title>
    <style>
    #weixin img {
      display: none;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
    </style>
  </head>
  <body>
    <div id="weixin">
      <%= image_tag 'public/wechat.png' %>
    </div>
    <%= javascript_include_tag 'public/scan', 'data-turbolinks-track' => true %>
  </body>
</html>