<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>练球宝</title>
    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">练球场服务管理云平台</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">首页</a></li>
                  <li><a href="#">关于我们</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-4"><%= image_tag 'public/iphone.png', class: 'img-responsive' %></div>
                <div class="col-sm-8">
                  <p>《练球宝》App是高尔夫练习场服务管理云平台的客户端产品，包含以下功能：</p>
                  <ul>
                    <li>打位预约：在线预约未来三天打位，无需排队</li>
                    <li>教练教学：在线查看球场内所有教练及课程，并可预约教练</li>
                    <li>会员商城：球场内的球具店，品质的保证</li>
                    <li>消费记录：App端可确认当日消费，并浏览历史消费单，再也不用签字了</li>
                    <li>餐饮服务：看看最近球场又推出了什么新的餐饮</li>
                    <li>意见反馈：如果您对球场有不满意的地方，即刻告诉球场经营者</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Copyright ©2015-2016 <a>Beijing iSports Co., Ltd.</a> All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'public', 'data-turbolinks-track' => true %>
  </body>
</html>