<div class="pageheader">
  <h2><i class="fa fa-home"></i> 控制台</h2>
</div>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-primary table-striped">
        <tfoot>
          <tr>
            <td class="text-right">
              <span class="label label-primary">可用</span>
              <span class="label label-danger">使用中</span>
              <span class="label label-warning">已预约</span>
              <span class="label label-default">已关闭</span>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <% (1..@current_club.floors).each do |floor| %>
          <tr>
            <td><%= floor %>F</td>
          </tr>
          <tr>
            <td>
              <div class="row">
                <% @current_club.vacancies.on_floor(floor).each do |vacancy| %>
                <% if vacancy.occupied? %>
                <div class="col-xs-1"><%= link_to vacancy.name, vacancy.tab, class: 'btn btn-danger btn-block mt10 mb10' %></div>
                <% elsif vacancy.closed? %>
                <div class="col-xs-1"><%= link_to vacancy.name, vacancy, class: 'btn btn-default btn-block mt10 mb10' %></div>
                <% else %>
                <div class="col-xs-1"><%= link_to vacancy.name, new_tab_path(vacancy_id: vacancy.id), class: 'btn btn-primary btn-block mt10 mb10' %></div>
                <% end %>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>