<div class="pageheader">
  <h2><i class="fa fa-home"></i> 控制面板</h2>
</div>
<div class="contentpanel">
  <!-- div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-success panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-12">
                <small class="stat-label">本周打球人数</small>
                <h1>2</h1>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6">
                <small class="stat-label">今日打球会员</small>
                <h4>3</h4>
              </div>
              <div class="col-xs-6">
                <small class="stat-label">今日打球访客</small>
                <h4>1</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-12">
                <small class="stat-label">Visits Today</small>
                <h1>900k+</h1>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6">
                <small class="stat-label">Pages / Visit</small>
                <h4>7.80</h4>
              </div>
              <div class="col-xs-6">
                <small class="stat-label">% New Visits</small>
                <h4>76.43%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-dark panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-12">
                <small class="stat-label">Visits Today</small>
                <h1>900k+</h1>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6">
                <small class="stat-label">Pages / Visit</small>
                <h4>7.80</h4>
              </div>
              <div class="col-xs-6">
                <small class="stat-label">% New Visits</small>
                <h4>76.43%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-danger panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-12">
                <small class="stat-label">Visits Today</small>
                <h1>900k+</h1>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6">
                <small class="stat-label">Pages / Visit</small>
                <h4>7.80</h4>
              </div>
              <div class="col-xs-6">
                <small class="stat-label">% New Visits</small>
                <h4>76.43%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div-->
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-primary table-striped">
        <tfoot>
          <tr>
            <td class="text-right">
              <span class="label label-primary">可用</span>
              <span class="label label-danger">使用中</span>
              <span class="label label-warning">已预约</span>
              <span class="label label-default">已关闭</span>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <% Vacancy.locations.keys.each do |location| %>
          <% unless @current_club.vacancies.located(location).blank? %>
          <tr>
            <td><%= te_vacancy_location(location.to_sym) %></td>
          </tr>
          <tr>
            <td>
              <div class="row">
                <% @current_club.vacancies.located(location).each do |vacancy| %>
                <% if vacancy.occupied? %>
                <div class="col-xs-1"><%= link_to vacancy.name, vacancy.tab, class: 'btn btn-danger btn-block mt10 mb10' %></div>
                <% elsif vacancy.closed? %>
                <div class="col-xs-1"><%= link_to vacancy.name, vacancy, class: 'btn btn-default btn-block mt10 mb10' %></div>
                <% else %>
                <div class="col-xs-1"><%= link_to vacancy.name, new_tab_path(vacancy_id: vacancy.id), class: 'btn btn-primary btn-block mt10 mb10' %></div>
                <% end %>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>