//= require bracket/bootstrap.min
//= require bracket/bootstrap-override
//= require bracket/jquery-ui-1.10.3
//= require bracket/jquery.datatables
//= require bracket/jquery.tagsinput
//= require bracket/font-awesome
//= require bracket/animate.min
//= require bracket/animate.delay
//= require bracket/select2
//= require bracket/bootstrap-timepicker.min
//= require bracket/bootstrap-editable
//= require bracket/toggles
//= require bracket/chosen
//= require bracket/color_picker
//= require bracket/lato
//= require bracket/roboto
//= require bracket/bracket

.vacancy-tags {
  .label {
    display: inline-block;
    margin: 0 4px 4px 0;
  }
}

.table-checkout {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  margin-top: 20px;
  thead {
    tr {
      th {
        background: none;
        &:last-child, &:nth-child(5), &:nth-child(4), &:nth-child(3) {
          text-align: right;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &:last-child, &:nth-child(5), &:nth-child(4), &:nth-child(3) {
          text-align: right;
          width: 12%;
        }
        &:first-child {
          width: 6%;
        }
      }
    }
  }
}

.table-expense {
  tbody {
    tr {
      td {
        &:first-child {
          width: 15%;
        }
        &:nth-child(2) {
          width: 8%;
        }
        &:last-child {
          width: 10%;
        }
      }
    }
  }
}

.table-vacancy-price {
  tbody {
    tr {
      td {
        &:first-child {
          width: 20%;
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:last-child {
          width: 10%;
          text-align: center;
        }
      }
    }
  }
}